/output
/.auto.deps
/.config.cmd
/.config.old
/..config.tmp
*.depend
*.o
/*.patch
/*.diff
*.orig
*.rej
*~
*.pyc
/buildroot/dl/gcc/linux-5.15.18.tar.xz
/buildroot/sdb.bin
/buildroot/dl/gcc/gcc-10.3.0.tar.xz
/buildroot/dl/**
/iperf
/dl
sdb.bin
dl/**
/buildroot/dl
